body{
    background-color: #fdf1d3;  
}

#span1{
    font-weight: bold;
}

p{
    margin-top: 40px;
}

#osnovno{
    margin-left: 35px;
}

#slika{
    width: 40%;
}

#detalji{
    margin-left: 35px;
}

#detaljiid{
    margin-top: 50px;
}