body{
    background-color: #fdf1d3;
}

#meni1{
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}

#meni1 a{
    text-decoration: none;
    padding: 10px;
    margin: 0 20px;
}

#meni1 a:hover{
    color: #ff9900;
}