body{
    background-color: #fdf1d3;
}

#meni1{
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}

#meni1 ul{
    padding: 10px;
    display: flex; 
    justify-content: center;
}

#meni1 li{
    margin: 0 5px;
}

#meni1 a{
    text-decoration: none;
    padding: 10px;
    margin: 0 20px;
}

#meni1 a:hover{
    color: #ff9900;
}

ul{
    list-style: none;
}

