body{
    background-color: #fdf1d3;
}

#meni1{
    top: 0;
    left: 0;
    width: 100%;
}

#meni1 ul{
    padding: 10px;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    list-style: none;
    row-gap: 10px;
    align-items: center;
}

#meni1 li{
    margin: 0 5px;
}

#meni1 a{
    text-decoration: none;
    padding: 10px;
    margin: 0 20px;
    font-weight: bold;
}

#meni1 a:hover{
    color: #ff9900;
}

@media screen and (min-width:500px){
    #meni1 ul{
        flex-direction: row;
        display: flex;
    } 
}