/* Dodatna stilizacija za prijavu */

body {
    background-color: #fdf1d3;
    margin: 8px 0;
}

@media screen and (min-width: 500px) {
    #menuFrame {
        width: 100%;
        position: fixed;
        height: 70px;
        z-index: 5;
        margin-top: -22px;
        border: 0;
    }

    #stan {
        padding-top: 100px;
    }
}

@media screen and (max-width: 500px) {
    #menuFrame {
        width: 100%;
        position: fixed;
        height: 150px;
        z-index: 5;
        margin-top: -22px;
        border: 0;
    }

    #stan {
        padding-top: 200px;
    }
}


form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 400px; 
    margin: 0 auto; 
    margin-top: 50px; 
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
